

.home-page {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    min-height: 100vh; 
}


.name {
    background-image: url('/Users/andrewphotinakis/Documents/PersonalWebsiteReact/personal-website/src/assets/futuristic-images/Abstract-futuristic-blue-background-Graphics-17251979-1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    font-family: 'Crimson Pro', serif;
    text-align: center;
    height: 1000px;
    width: 700px;
    display: flex;
    flex-direction: column; /* Add this */
    justify-content: center;
    align-items: center; /* Center items vertically and horizontally */
    position: absolute;
    box-shadow: 80px 80px 80px 80px rgba(0, 0, 0, 42);
    z-index: 1;
    color:white;
    font-size: 24px;
}

h1 {
    font-size: 50px;
    z-index: 1;
}


.circle-image {
    margin-left: 20px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Make it a circle */
    overflow: hidden; /* Hide image overflow */
}

.circle-image img {
    max-width: 100%;
    max-height: 100%;
}


.welcome-typed {
    border-radius: 10px;
    font-family: 'Crimson Pro', serif;
    font-size: 2px;
    text-align: center;
    top: calc(5% - 50px);
    left: calc(50% - 250px);    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.badges {
    margin-top:20px;
    gap: 20px;
    display: inline-flex;
    z-index: 1;
}

.shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.typedcol {
    position: relative;
    z-index: 1;
}

.typeEffectText {
    font-family: 'Crimson Pro', serif;
    font-size: 50px;
    color: black;
    top: 0;
    position: sticky;
    z-index: 1;
}
.resume-button {
    margin-top: 30px;
    margin-left: 150px;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    background-image: url('/Users/andrewphotinakis/Documents/PersonalWebsiteReact/personal-website/src/assets/futuristic-images/Abstract-futuristic-blue-background-Graphics-17251979-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.resume-button:hover {
    cursor: pointer;
    background-image: url('/Users/andrewphotinakis/Documents/PersonalWebsiteReact/personal-website/src/assets/futuristic-images/city_futuristic.jpeg');
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: top;
}
