/* src/pages/Portfolio.css */
* {
  font-family: 'Crimson Pro', serif;
}

.portfolio {
  width: 100%;
  height: fit-content;
  display: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: white;
}
.project-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-list {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  gap: 10px 5px;
  flex-direction: column;
}

.timeframe {
  font-size: 16px;
}

.project-name{
  font-size: 24px;
}


.project-card {
  padding: 16px;
  width: 300px;
  height: fit-content;
  border-radius: 20px;
  background-color: white;
  box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-card:hover{
  box-shadow: 80px 80px 80px rgba(0, 0, 0, 0.3);
  border: 10px solid red;
}

.project-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create a 3-column grid for skills */
  grid-gap: 10px; 
}

.skill-card {
  width:100px;
  color:white;
  background: red;
  border-radius: 30px;
  height:20px;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-top: 10px;
  color: white;
  display: flex;
  background-color: red;
}

.link {
  margin-top: 10px;
  background: red;
  border-radius: 10px;
  font-size: 20px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.github {
  color: white;
  margin-top: 10px; /* Add top margin to center within the link div */
}
