/* src/pages/Portfolio.css */
.portfolio{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: white;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-image: url("../../assets/switzerland.jpg");
    background-size: cover;
    background-position: top;
}

h2{
    color:white;
}

.project-list {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin: 0 auto; 
    gap: 10px 5px;
    width: 50%;
    flex-direction: column;
}
  