/* App.css */
.App {
  text-align: center;
  min-height: 100vh;
  background-color: #D3D3D3;
  position: relative; /* Add this to position its child elements */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background: linear-gradient(45deg, #191E29, #696E79); /* Define your hex color combination */
  justify-content: space-between;
}

.logo {
  background-image: url('/Users/andrewphotinakis/Documents/PersonalWebsiteReact/personal-website/src/assets/Screenshot 2023-10-31 at 1.14.52 AM.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px; /* Increase the width to your desired size */
  height: 200px; /* Increase the height to your desired size */
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 15px; /* Adjust the border radius value */
  z-index: 1; /* Ensure it's above other content */
}
